<div class="container">
    <div class="row">

    <%= render 'categories_list' %>

      <div class="col-md-9">
        <% @expenses.each_with_index do |expense, index| %>
          <% if index % 4 == 0 %>
            <div class="row">
          <% end %>
            <div class="col-md-3">
              <div class="thumbnail">
                <div class="caption">
                  <h3 class="ex_c"><%= expense.category.name %></h3>
                  <%= expense.date.strftime("%d. %B,  %Y.") %>
                </div>
                <%= image_tag expense.bill.url(:medium), size: '170x105' %>
                <div class="caption">
                  <p><center><h4 class="ex_v"><%= expense.expense_value %>€</h4></center></p>
                  <p align="center">
                    <%= link_to expense_path(expense), class: "btn btn-primary", role: "button" do %>
                        <span style="font-size:10px;">Show</span>
                     <% end %>
                    <%= link_to edit_expense_path(expense), class: "btn btn-default", role: "button" do %>
                      <span style="font-size:10px;">Edit</span>
                    <% end %>
                    <%= link_to expense_path(expense), class: "btn btn-default", method: :delete, data: {confirm: 'Are you sure?', role: "button"} do %>
                      <span style="font-size:10px;">Delete</span>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% if index % 4 == 3 %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<center><%= will_paginate @expenses %></center>