<%= form_for @expense do |f| %>

<div class="container">

  <%= f.label :description, "Description" %><br/>
  <%= f.text_field :description %><br/>
  <%= f.label :expense_value, "Amount" %><br/>
  <%= f.text_field :expense_value %><br/>
  
  <div class="row">
  <div class='col-sm-1'>
  <div class='input-group date' id='datetimepicker5' data-date-format="YYYY-MM-DD">
  <div class="date" data-behaviour="datepicker">
  <%= f.label :date, "Date" %>
  <%= f.text_field :date, value: Date.today %><p class="input-group-addon"></p>

  </div>
  </div>
  </div>
  </div>
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %><br/>
  <%= f.file_field :bill %><br/>
  <%= f.submit "Add to my expenses" %>
  </div>
<% end %>