<h1> Details </h1>
<p style="font-size:40px"><%= @expense.category.name %></p>
<p style="font-size:35px">You've spent <%= @expense.expense_value %>€.</p>
<p style="font-size:20px">Description: <%= @expense.description %></p>
<p style="font-size:20px">Date: <%= @expense.created_at %></p>
<br/>
<%= image_tag @expense.bill.url(:medium) %><br/>


<br/>
<%= link_to('Edit this expense', edit_expense_path(@expense), :method => :get) %><br/>
<%= link_to('Delete this expense', expense_path(@expense), :method => :delete, data: {confirm: 'Are you sure?'}) %><br/>